.profile-mains h1{
    margin-top: 1rem;
    margin-left: 47%;
    font-size: 2rem;
  }
  
  .profile-img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: rgb(41, 39, 39);
    overflow: hidden;
    margin-left: 44%;
    margin-top: 1rem;
  }

  .profile-infos{
    margin-top: 2rem;
    margin-left: 35%;
    background-color: rgba(127, 255, 212, 0.029);
    width: fit-content;
    padding: 30px;
  }

  .profile-infos table{
    border: 1px solid black;
    margin: 0;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px 1px rgba(47, 130, 137, 0.598);
  }
  .profile-infos th{
    border: 1px solid black;
    margin: 0;
    padding: 20px;
  }
